<div id="<%= dom_id reporte_general %>">
  <p>
    <strong>Venta:</strong>
    <%= reporte_general.venta %>
  </p>

  <p>
    <strong>Atención:</strong>
    <%= reporte_general.atención %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= reporte_general.producto %>
  </p>

  <p>
    <strong>Instalaciones:</strong>
    <%= reporte_general.instalaciones %>
  </p>

</div>
