<p style="color: green"><%= notice %></p>

<%= render @reporte_general %>

<div>
  <%= link_to "Edit this reporte general", edit_reporte_general_path(@reporte_general) %> |
  <%= link_to "Back to reporte general", reporte_general_path %>

  <%= button_to "Destroy this reporte general", @reporte_general, method: :delete %>
</div>
