<h1>Reporte Sucursales</h1>


<h3 class='sucursal'> Sucursal: <%= @reporte.sucursal %></h3>
<h3 class='logrado' > Logrado: <%= @reporte.logrado %></h3>
<span class='comentario'> Comentarios: <%= @reporte.comentario %></span>

<p><strong>Venta:</strong> <%= @reporte.venta %></p>
<p><strong>Atención:</strong> <%= @reporte.atencion %></p>
<p><strong>Producto:</strong> <%= @reporte.producto %></p>
<p><strong>Instalaciones:</strong> <%= @reporte.instalaciones %></p>

